@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

:root {
	--dark-blue-color: hsl(212, 21%, 14%);
	--dark-grey-color: hsl(228, 12%, 48%);
	--white-color: hsl(0, 0%, 100%);

	--dark-cyan-color: hsl(158, 36%, 37%);
	--cream-color: hsl(30, 38%, 92%);
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: var(--cream-color);
	font-family: "Outfit", sans-serif;
	color: var(--dark-grey-color);
	font-size: 14px;
}

main {
	display: flex;
	width: 600px;
	height: 500px;
	border-radius: 8px;
	flex-direction: row;
	background: var(--white-color);
}

.product__image {
	background-size: cover;
	width: 50%;
	border-radius: 8px 0 0 8px;
	background-image: url("/images/image-product-desktop.jpg");
}

.text__content {
	padding: 0 45px;
	width: 200px;
	display: flex;
	flex: 1;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: center;
	border-radius: 0 8px 8px 0;
}

.caption {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	margin-bottom: 30px;
	letter-spacing: 5px;
}

.title {
	font-family: "Fraunces", serif;
	font-weight: 700;
	font-size: 30px;
	margin-bottom: 30px;
	line-height: 1.2;
	color: black;
}

.description {
	font-family: "Montserrat", sans-serif;
	margin-bottom: 30px;
	line-height: 1.2;
}

.price__wrapper {
	margin-bottom: 30px;
	display: flex;
	align-items: center;
}

.price {
	color: var(--dark-cyan-color);
	font-family: "Fraunces", serif;
	font-weight: 700;
	font-size: 30px;
	margin-right: 10px;
}

.before__discount__price {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 12px;
}

button {
	background: var(--dark-cyan-color);
	color: var(--white-color);
	border: none;
	padding: 15px 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 8px;
	box-sizing: border-box;
	border-radius: 8px;
	width: 100%;
	font-weight: 700;
	font-size: 14px;
}

@media only screen and (max-width: 375px) {
	main {
		max-width: 340px;
		height: 600px;
		flex-direction: column;
		display: flex;
	}

	.product__image {
		background-image: url("/images/image-product-mobile.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		height: 240px;
		width: 100%;
		border-radius: 8px 8px 0 0;
	}

	.text__content {
		padding: 0 20px;
		height: 50%;
		width: 100%;
		box-sizing: border-box;
		flex: 1;
	}

	.caption {
		font-family: "Montserrat", sans-serif;
		font-weight: 500;
		margin-bottom: 10px;
		letter-spacing: 5px;
	}

	.title {
		font-family: "Fraunces", serif;
		font-weight: 700;
		font-size: 30px;
		margin-bottom: 15px;
		line-height: 1.2;
		color: black;
	}

	.description {
		font-family: "Montserrat", sans-serif;
		margin-bottom: 20px;
		line-height: 1.5;
		letter-spacing: 1;
		word-spacing: 3;
	}

	.price__wrapper {
		margin-bottom: 20px;
		display: flex;
		align-items: center;
	}

	.price {
		color: var(--dark-cyan-color);
		font-family: "Fraunces", serif;
		font-weight: 700;
		font-size: 30px;
		margin-right: 10px;
	}

	.before__discount__price {
		font-family: "Montserrat", sans-serif;
		font-weight: 500;
		font-size: 12px;
	}
	button {
		margin-bottom: 10px;
	}
}
